<html>

<head>

    <link rel="stylesheet" href="/css/modules/index.css">
    <title>书签导航转换器</title>

    <script src="/js/echarts.min.js"></script>
</head>

<body>
    <section id="container" class="scroll-999">
        <div class="flex justify-between align-center page-title ">
            <h2 class="flex align-center">
                <a id="leftController" class="left-controller ml-5px">
                    <i class="iconfont icon-category"></i>
                </a>
                <a href="/" class="color-fff ml-16px">书签导航转换器</a>
            </h2>
            <div class="mt-0px mb-0px pd-16px  color-fff ">

                <a href="/manager" class="color-fff font-15px">
                    <i class="iconfont icon-nav_icon_xitongshezhi color-fff"></i>内容管理
                </a>
            </div>
        </div>





        <div class="flex h-100per">
            <section id="typeLeft" class="typeLeft-hidden">
                <div class="flex justify-end">
                    <a id="exitTypeLeft">
                        <i class="iconfont icon-exit"></i>
                    </a>
                </div>


                <div class="md-menu">
                    <%categorys.forEach(function(item, k){%>
                    <a class="type-item flex <%-item.id === id ? 'active' : ''%>" data-type="<%-item.id%>" href="/?id=<%-item.id%>">
                        <span><%-item.name%></span>
                        <i class="iconfont icon-right"></i>
                    </a>
                    <%})%>
                </div>
            </section>
            <section id="editRight">
                <div class="dashboard">

                    <div id="appsContainer">

                        <% groupList.forEach(function(item0, k0){%>
                            <div class="group-item">
                                <div class="flex justify-between align-center">
                                    <h3><%-item0.name%></h3>
                                </div>
                                <div class="bookmarks">
                                    <% item0.bookmarks.forEach(function(item1, k1){%>
                                            <a class="bookmark-item" href="<%-item1.href%>" target="_blank">
                                                <div class="bookmark-a-div">
                                                    <img src="<%-item1.icon%>" alt="">
                                                    <p><%-item1.name%></p>
                                                </div>
                                            </a>
                                    <%})%>
                                </div>
                            </div>
                        <%})%>
                    </div>



                </div>

            </section>
        </div>


    </section>


    <script src="/js/jquery_dom.js"></script>

    <script>
        showMessage(`<%- typeof success !== 'undefined' && success %>`, `<%- typeof message !== 'undefined' && message %>`)
    </script>

<script>

    var categorys = JSON.parse(`
                            <%-JSON.stringify(categorys)%>
                        `)
    var groupList = <%-JSON.stringify(groupList)%>

    $("#leftController").on('click', function () {
        $("#typeLeft").toggleClass("typeLeft-hidden")
    })
    $("#exitTypeLeft").on('click', function () {
        $("#typeLeft").addClass("typeLeft-hidden")
    })



    var categoryId = "<%-id === undefined ? '' : id%>"

    function handleToggle(id) {
        var event = window.event || arguments[0];
        // console.log(event.detail)
        $(`#${id}`).attr('checked', event.detail.value).val(event.detail.value)
    }



</script>





</body>

</html>
